<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <link rel="stylesheet" href="dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="dist/css/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="css/app.css">
    <style media="screen">
    html, body {
  touch-action: auto;
}
    </style>
  </head>
  <body class="bg-white" style="overflow-y:auto">
    <div class=" xssas"  data-page="sec">

      <div class="app-sec-foot">
        <a href="#" class="button button-big  button-fill color-app-yel ">修改密码</a>
        <a href="#" class="button button-big  button-fill color-app-yel ">绑定手机</a>
        <a href="#" class="button button-big  button-fill color-app-yel ">实名制</a>
      </div>
      <div class="app-sec-note">
        <p>温馨提示：</p>
      </div>
    </div>

  </body>
</html>
