
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>推荐游戏</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<style>
*{margin:0; padding:0;}
ul{list-style:none;}
li{width:50%; float:left; padding:8px 0;}
@media screen and (max-width: 480px){
	li{width:100%;}
}
.content{padding:8px;}
.box{position:relative; padding:0 60px 0 70px; height:50px; z-index:1;}
.icon{width:60px; position:absolute; top:0; left:10px; height:50px;}
.name{color:#333; font-size:14px; line-height:22px; height:22px; overflow:hidden;}
.info{color:#999; font-size:12px; line-height:14px;  height:14px; overflow:hidden;}
.down{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAoCAYAAACfKfiZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXdJREFUeNpi/P//PwMh4LQlFZdUBpSegU//Pp/ZOOVYGCgDfcQ4AB+g1AHvKdRPsQP+UOoAJoYBBqMOGHXAqANGHTDqgFEHjDpg1AGjDhh1wKgDCDoA2C1rAlI9ZJhdCsTzgZid0o6JARD7ArEIECcQaXktEIMc/hqIGSmNgkggXgnE8UC8jgj1k6GWnwJiQyD+gTcEgEGcBu3BzsLRs/0KVBMBZH4G4hQg3g/EXkD8Heo7ZB8ugzp4GxCHQNXgito0WBRMgorNIuAzUB/9AxCXQB3hB8RvoQ4QAOLlQOwBxIugoUUITII54B2JCesjEDcD8WkgZgbiv0B8HIg1oIbmE2nWO5gDSO3htkCjYwKaeAUQd5Lasya3ez4R6oNFUH4yEM+j9/jAYiD+BE0DGygZoABlxd9k6t9IgQdAaYeV0XFzymMggw2ILaGClI6aEBP3zNCE+wtk2S8glgHiuwNQFdwDOaAaVC5Aff6fThYzQkNiH0CAAQBibk72JumFQwAAAABJRU5ErkJggg==") no-repeat left center; width:32px; height:50px; position:absolute; right:10px; top:0;}
</style>
</head>
<body>
<div class="content">
    <ul>
    	    	<li onClick="window.open('http://www.yayawan.com/game/down/3782879912/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/06/bda7c6c07a.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">御剑-百炼成魔</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：101.03MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/2430676546/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/11/a7127a7094.jpg?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">剑雨-灵剑物语</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：95.22MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/444493278/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/09/6f27bd180a.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">御龙无双</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：75.85MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/1873912955/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/10/f61eb1d4ac.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">幻想仙缘</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：102.04MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/4098818794/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2015/10/c7133b8e35.gif?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">焚天之怒</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：197.23MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/1325534144/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/02/c7bb779e6d.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">御剑仙境</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：63.96MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/3864383617/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/09/9c146b3450.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">帝之刃</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：280.42MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/1774865554/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2015/07/42bbcbd8e0.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">暴打三国志</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：98.78MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/740115402/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/01/f99f71eacb.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">囧西游</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：93.98MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/2139590537/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2015/07/d4801ac144.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">三剑豪</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：287.87MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/1260111320/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/03/a89f1fb8f1.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">皇室战争</p>
                    <p class="info">类型：战争策略</p>
                    <p class="info">大小：98.71MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/3328272519/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2015/07/277b971eb2.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">全民神魔</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：81.92MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/3382224689/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2015/10/0a67917e89.gif?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">全民攻城</p>
                    <p class="info">类型：战争策略</p>
                    <p class="info">大小：77.84MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            	<li onClick="window.open('http://www.yayawan.com/game/down/150804189/1')">
        	<div class="box">
                <a href="javascript:;" class="icon"><img src="http://img.yayawan.com/upload/2016/06/830f62b248.png?imageView/1/w/100/h/100/q/85" width="50" height="50" /></a>
                <div class="m">
                	<p class="name">不良人</p>
                    <p class="info">类型：角色扮演</p>
                    <p class="info">大小：226.24MB</p>
                </div>
                <a href="javascript:;" class="down"></a>
            </div>
        </li>
            </ul>
</div>
</body>
</html>
